*{
    box-sizing: border-box;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
body{
    height: 100vh;
    font-size: 10px;
    display:grid;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
    }
h1{
  text-align: center;
  font-weight: bold;
}


    

/*styling the table*/
table {

  border-spacing:auto;
  border-collapse: collapse ;
  font-size: 25px;
}
th{ border: solid 5px #00acff;
  width: 6px;
  white-space:normal;
  text-align: center;
 
}



/* Style the header */
.header {
    height: 13vh;
    width: auto;
    margin: 10px;
   
    background-color: #000000;    
    text-align: center;
    font-size: 35px;
    color: white;
  
}
.logo{
  position: relative;
  float: left;
  margin: 5px;
}

ul {
  width: auto;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    overflow: visible;
   
  }

  /* Style the navigation bar */
  li {
    float: left;
  }
  
  .li.right {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: white;
    color: black;
  }

  

    /* Dropup Button upcoming*/
.dropbtn.main {
  background-color:#004DB4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropup content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropup content (Hidden by Default) */
.dropup-content {
  display: none;
  position: relative;
  bottom: 50px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Show the dropup menu on hover */
.dropup:hover .dropup-content {
  display:contents;
  background-color: #f9f9f9;
}
/* Style the navigation menu */
.nav {
    
    height: 10vh;
    width: auto;
    margin: 10px;
    background: #000000;
    color: rgb(10, 8, 8);
    text-align: center right;
    font-size: 15px;
}


/* style main content section */
main{
    height:fit-content;
    width: auto;
    margin: 20px;
    padding: 20px;
    text-align: left;
    
    font-weight: bold;
}

.learn-more {
  display: inline-block;
  background-color: #000000;
  color: antiquewhite;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.learn-more:hover {
  background-color: #004DB4;
}

  /* Movie Details Styling */
  
  .movie-details-container {
    margin: 50px auto;
    max-width: 800px;
    }
    
  
    .movie-info {
    flex: 1;
    }
    
    .movie-info h1 {
    font-size: 30px;
    margin-top: 0;
    }
    
    .movie-info p {
    margin: 0 0 10px 0;
    }




footer {
    height: 12vh;
  background-color: transparent;
  margin: 10px;
    padding: 10px;
  text-align: center;
  color: whitesmoke;
  text-align: center;
  font-size: 15px;
}


.container {
  
  background-color: transparent;
  padding: 20px;
  
} 

input[type=text], select{
  width:50%;
  padding: 12px;
  border: 1px solid #ccc;
  
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=text], textarea{
  width:50%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}



input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
button{
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 5px solid white;
  background: transparent;
  color: rgb(10, 1, 1);
  cursor: pointer;
 position:absolute right;
  
}



.banner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.banner h3 {
  font-size: 15px;
  margin: 0;
  padding-right: 20px;
  flex: 1;
  
}



.banner img {
  width: 100%;
  max-width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 10px;
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.banner img:hover {
  transform: scale(1.1);
}




.block{
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 16px;
  padding: 16px;
  text-align: center;
  transition: box-shadow 0.3s;
  width: 200px;
            }
.block:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
.block img {
height: 150px;
  width: 150px;
object-fit: cover;
object-position: center;
  }
.block h2 {
  font-size: 24px;
  margin-bottom: 8px;
            }
.block p {
  font-size: 16px;
  margin-top: 8px;
            }


.trending {
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 0;
        text-decoration: none;
            }
            
.trending h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: none;
            }

.trending-slideshow {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-bottom: 30px;
            }
            
.trending-slide {
  flex: 0 0 300px;
  margin-right: 20px;
  scroll-snap-align: center;
}

.trending-slide img {
  width: 100%;
  height: auto;
}

.trending-slide h3 {
  font-size: 18px;
  margin-top: 10px;
}


.trending-slideshow::-webkit-scrollbar {
  display: none;
}
          


